@font-face {
  font-family: fontA;
  src: local("Y 너만을 비춤체"),
  url(Y너만을비춤체.ttf);
}

.container {
  font-family: fontA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #f0f0f0;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.findIdBox {
  background: white;
  padding: 40px 60px 40px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.inputField {
  font-family: fontA;
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.findButton {
  font-family: fontA;
  width: calc(100% - 22px);
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

.findButton:hover {
  background-color: #444;
}

.userList {
  margin-top: 20px;
  text-align: left;
}

.userList li {
  list-style: none;
  margin-bottom: 10px;
}