@font-face {
  font-family: fontA;
  src: local("Y 너만을 비춤체"),
  url(Y너만을비춤체.ttf);
}

.container {
  font-family: fontA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #f0f0f0;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settingBox {
  background: white;
  padding: 20px 60px 40px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  width: 100%;
}

.apiKeyBox {
  margin-top: 20px;
  word-break: break-all;
}

.inputField {
  font-family: fontA;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  font-family: fontA;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #444;
}